.app {
  margin: 3%;
}

.btn-dark-blue {
  background-color: rgb(0, 50, 91);
  border-color: rgb(0, 50, 91);
}

.btn-dark-blue:hover {
  background-color: #007bff;
  border-color: #007bff;
}

.dark-blue {
  background-color: rgb(0, 50, 91);
  color: white;
}

.dark-blue-text {
  color: rgb(0, 50, 91);
}

p, li, h5 {
  color: rgb(0, 50, 91);
}

.nav-bar {
  margin-bottom: 5%;
}

.nav-bar--dark-blue-background {
  background-color: #00325b;
}